* {
    padding: 0;;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.body {
    width: 100%;
    height: 700px;
}

.header {
    background-color: antiquewhite;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header .container .logo {  
    color: #189a46; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.header .container .logo h1 {
    font-size: 34px;
}

.header .container .nav {
    align-items: center;
}

.header .container .nav div a{
    font-size: 19.2px;
    height: 100%;
    margin:0 10px;
    color: black;
    position: relative;
    display: block;
    margin-left: 10px;
    text-decoration: none;
}

.header .container .nav div a:hover {
    color:#189a46;
    transition: all 0.4s linear;
}

.header .container .nav div a::after {
    content: "";
    width: 0px;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #189a46;
    position: absolute;
    transition: all 0.4s linear;
}

.header .container .nav div a:hover::after{
    width: 100%;
}

.ti-angle-down{
    font-size: 10px;
}

.ti-search {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 16px;
}

.search-btn .ti-search {
    font-weight: bold;
}

.search-btn .ti-search:hover {
    color: aliceblue;
}
.nav .search-btn {
    width: 45px;
    height: 45px;  
}

.nav .search-btn a {
    width: 100%;
    border-radius: 31px;
}
.header .container .nav div.search-btn a::after {
    display: none;
}
.nav .search-btn:hover a {
    background-color: #189a46;
    transition: all 0.4s linear;
}

.list {
    position: absolute;
    background-color: antiquewhite;
    margin-right: 10px;
    width: 204px;
    height: 102px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 31 px;
    left: -48px;
    display: none;
}

.dropdown__list:hover .list {
    color: #343434;
    display: block;
    z-index: 5;
}

.list ul {
    list-style-type: none;
}

.list ul li {
    padding-block: 10px;
    padding-left: 10px;
}

.slider {
    width: 100%;
    height: 720px;
    background-color: #189a46;
}

.carousel-inner {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.carousel-inner .carousel-item .carousel-caption {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
    position: absolute;
    text-align: left;
    left: 10%;
    top: 50%;
}
.carousel-inner .carousel-caption > h5{
    font-size: 66px;
    position: relative;
    font-weight: bold;
}   

.carousel-inner .carousel-caption p {
    font-size: 19.2px;
}

.carousel-caption button {
    width: 155px;
    height: 54px;
    border-radius: 10px;
    font-size: 14px;
}

.carousel-caption button.btn1 {
    background: white;
    color: #189a46;
    border: white;
    padding: 8px;
}

.carousel-caption button.btn2 {
    border: 1px solid white;
    color: white;
}

.carousel-caption button.btn2:hover {
    background: white;
    color: #189a46;
}

.intro {
    height: 500px;
    padding-top: 9%;
}

.intro .sub-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    color: #f53626;
    display: flex;
    justify-content: center;
}

.intro .title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000c04;
}

.intro .doc {
    width: 100%;
    height: 100px;
    font-size: 1.2em;
    line-height: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.intro .doc p {
    margin: 0 25%;
    color: #696969;
}

.intro .read {
    text-align: center;
    margin-top: 46px;
}

.intro .read a{
    color: #000c04;
    text-decoration: none;
    font-size: 17px;  border-bottom: 2px solid #189a46;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.intro .read:hover a{   
    color: #189a46;
}

.feature {
    background-color: whitesmoke;
    width: 100%;
    height: 800px;
}

.container.cards {
    display: flex;
    background-color: whitesmoke;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10%;
}

 .cards .card {
    margin: 10px;
    width: 30%;
    padding: 30px 15px;
    border-radius: 10px;
 }

.cards .card:hover {
    transition: all 0.4s;
    background-color: whitesmoke;
}

.cards .card .card-body {
    padding: 0;
}

.cards .card .card-body a{
    text-decoration: none;
    color: black;
}

.cards .card .card-body .card-title {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 600;
}

.cards .card .card-body .card-title:hover {
    color: #189a46;
    transition: all 0.3s linear;
}

.feature .cards .card .card-body .btn.btn-primary:hover{
    transition: all 0.4s linear;
    color: #189a46;
}

.feature .cards .card .card-body .btn.btn-primary {
    background: transparent;
    border: white;
    color: black;
    padding: 0 0;
    position: relative;
}

.feature .cards .card .card-body .btn.btn-primary::after {
    content:"";
    width: 100%;
    height: 2px;
    background-color: #189a46;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.cards i {
    color: #189a46;
    padding-bottom: 10px;
}

.content-blog {
    height: 700px;
}

.content-blog .content {
    margin-top: 12%;
}

.blog-image .image {
    border-radius: 10px;
    width: 490px;
}

.content-blog .content .blog-content {
    padding: 0 30px;
    margin-top: 8%;
}

.content-blog .blog-content .sub-title {
    font-size: 18px;
    font-weight: 400;
    color: #f53626;
    line-height: 2em;
}

.content-blog .blog-content .paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: #696969;
    margin: 15px 0;
}

.content-blog .blog-content .name-title {
    font-size: 40px;
    font-weight: 600;
}

.content-blog .content .content-box {
    display: flex;
}

.content-blog .content .choice {
    display: grid;
}

.content-blog .content .choice .choices {
    font-size: 16px;
    font-weight: 600;
}

.content-blog .content .choice i {
    width: 25px;
    height: 25px;
    background-color: rgba(147,107,232,0.05);
    border-radius: 15px;
    top: 0;
    bottom: 0;
    padding: 8px;
    color: #189a46;
    margin-right: 15px;
    font-size: 10px;
}

.content-blog .content .choice span {
    font-family: 'Jost',sans-serif;
    margin-top: 15px;
}
.autoplay-number {
    display: flex;
    justify-content: space-evenly;
    height: 220px;
    background-color: #189a46;
    align-items: center;
}
.autoplay-number .counter #value {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    display: flex;
    margin-top: 30px;
    margin-bottom: 0;
    justify-content: center;
}

.autoplay-number .counter h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    text-align: center;
}
.plan {
    padding-top: 80px;
    padding-bottom: 48px;
    height: 850px;
    background-color: aliceblue;
    display: block;
}
.plan .plan-content {
    text-align: center;
    padding: 0 80px;
}

.plan .plan-content .sub-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #f53626;
}

.plan .plan-content .title-heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #000c04;
    margin-bottom: 48px;
}

.plan .plan-content .boxes{
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    margin-top: 70px;
}

.plan .plan-content .buy-box .buy-area {
    border-radius: 10px;
}

.plan .plan-content .buy-box .buy-area {
    width: 345px;
    height: 452px;
    background-color: white;
    padding: 56px 40px;
}

.plan .plan-content .buy-box .buy-area .buy-info .price {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189a46;
}

.plan .plan-content .buy-box .buy-area .buy-info .title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plan .plan-content .buy-box .buy-area .buy-info .price label {
    font-size: 25px;
    vertical-align: text-top;
}

.plan .plan-content .buy-box .buy-area .buy-info .price span {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.plan .plan-content .buy-box .buy-area .buy-info li {
    list-style-type: none;
    text-align: center;
    padding: 6px 0;
}

.plan .plan-content .boxes .buy-box .buy-area .buy-info .btn {
    padding: 12px 35px;
    margin-top: 30px;
}

.plan .plan-content .middle-box {
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
    border-radius: 6px;
}

.plan .plan-content .middle-box .top-box {
    width: 320px;
    height: 250px;
    background-color: #189a46;
    border-radius: 15px 15px 0 0;
    padding: 48px 40px 8px 40px;
}

.plan .plan-content .middle-box .top-box .middle-box-title{
    display: flex;
    justify-content: center;
}

.plan .plan-content .middle-box .top-box .middle-box-title h5{
    background-color: #fff;
    color: #189a46;
    border-radius: 10px;
    padding: 8px 20px;
    margin-bottom: 30px;
    width: 150px;
}

.plan .plan-content .middle-box .top-box h6{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plan .plan-content .middle-box .top-box h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.plan .plan-content .middle-box .top-box h4 label {
    font-size: 25px;
    vertical-align: text-top;
}

.plan .plan-content .middle-box .top-box h4 span {
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
}

.plan .plan-content .middle-box .bottom-box {
    border-radius:0 0 15px 15px;
    background-color: white;
    padding: 32px 40px 56px 40px;
}

.plan .plan-content .middle-box .bottom-box li{
    list-style-type: none;
    padding: 6px 0;
}

.plan .plan-content .middle-box .bottom-box button {
    margin-top: 32px;
    padding: 12px 35px;
}

.block-media {
    margin-top: 8%;
    height: 850px;
}

.block-media .media .middle-section {
    text-align: center;
    margin-top: 6%;
}

.block-media .media .middle-section .section .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.block-media .media .middle-section .section .title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.block-media .media .middle-section .section p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    padding: 0 90px;
}

.block-media .media .middle-section .history-info {
    margin-top: 48px;
}

.block-media .media .middle-section .history-info img {
    width: 950px;
    border-radius: 10px;
}

.block-media .media .middle-section .history-info {
    position: relative;
}

.block-media .media .middle-section .history-info a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #189a46;
    animation:ripple 2s linear infinite ;
    animation-delay: 0s;
}

@keyframes ripple {
    0% {
      box-shadow: 0 0 0 .7rem rgba(24, 154, 70, 0.2),
                  0 0 0 0.5rem rgba(24, 154, 70, 0.2),
                  0 0 0 0.5rem rgba(24, 154, 70, 0.2);
    }
    100% {
      box-shadow: 0 0 0 0.5rem rgba(24, 154, 70, 0.2),
                  0 0 0 1.5rem rgba(24, 154, 70, 0.2),
                  0 0 0 3rem rgba(29, 170, 74, 0);
    }
}

.feedbacks {
    padding: 48px 0;
    background-color: whitesmoke;
}

.feedbacks .container {
    padding: 25px 20px;
}

.feedbacks .heading-title {
    text-align: center;
}

.feedbacks .heading-title h6{
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}
.feedbacks .heading-title h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    margin-bottom: 48px;
}

.owl-theme  .item {
    width: 515px;
    height: 300px;
    margin: 0 10px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border-radius: 20px;
    background-color: white;
}

.owl-theme .item .testimonial {    
    height: 100%;
    padding: 40px 30px;
}

.owl-theme .item .testimonial blockquote {
    margin: 0 1.5em 1.5em 1.5em;
}

.owl-theme .item .testimonial blockquote q {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.owl-theme .item .info  {
    display: flex;
}

.owl-theme .item .info .info-img {
    width: 70px;
    height: 70px;
    
}

.owl-theme .item .info .info-name{
    padding-left: 20px;
}

.owl-theme .item .info .info-name h3{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.owl-theme .item .info .info-name p {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
}

.owl-theme .item .info .info-img .img-fluid {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.owl-theme .item .info .info-img .img-fluid img{
   border-radius: 50%; 
}

.form-updated .form .subcribe {
    text-align: center;
}

