*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .nav div { 
    margin: 0 5px;
    background-color: red;
}
