*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: burlywood;
}

.header .container{
    display: flex;  
    justify-content: space-between;
}

.header .container .logo {
    color: #189a46; 
}

.header .container .nav { 
    align-items: center;
}

.header .container .nav div {
    padding: 0 10px;
    color: #189a46;
}

.header .container .nav div a{
    text-decoration: none;
    color: black;
    position: relative;
    display: block;
}

.header .container .nav div a:hover {
    color: #189a46;
    transition: all 0.4s linear;
    display: block;
}

.header .container .nav div a::after{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #189a46;
    bottom: 0;
    left: 0;
    transition: all 0.4s linear;
}

.header .container .nav div a:hover::after{
    width: 100%;
}


.header .container .nav a .list{
   position: absolute;
   width: 128px;
   height: 47px;
   padding: 0;
   margin: 16px 0px;
   display: none;
   z-index: 1;
}

.header .container .nav a .list ul{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header .container .nav a .list li{
    padding: 16px;
    background-color: antiquewhite;
    list-style-type: none;
}
.header .container .nav a .list li:hover{
    color: black;
    background: yellow;
}
.header .container .nav .list:hover {
    display: block;
}
.slider {
    width: 100%;
    height: 1000px;
    background-color: rebeccapurple;
    overflow: hidden;
    
}
.slides {
    width: 100%;
    height: 1000px;
}
.slider .slides .slide {
    background-size: cover;
}
